# SSHD Configuration Template
# This file will be processed by the provisioning script.

Port {{SSH_PORT}}

PermitRootLogin {{ROOT_LOGIN}}
PasswordAuthentication {{PASSWORD_AUTH}}

PubkeyAuthentication yes
KbdInteractiveAuthentication no
UsePAM yes

X11Forwarding no
AllowAgentForwarding yes
AllowTcpForwarding no

TCPKeepAlive yes
ClientAliveInterval 300
ClientAliveCountMax 2

MaxAuthTries 6
LoginGraceTime 20
